/*Este é um comentário em CSS*/
h1 {
    color: red;
    font-family:sans-serif;
}
.link{
    display: inline;
    margin: 1%;
}
header{
    background-color:blue
}
h2{
font-family:sans-serif;
}
nav{
font-weight:bold;
}
.container{
    margin: 20px;;
}
.conteudo{
    padding:1.5;
}
form{
    border: 1px;
    background-color:gray;
    padding: 10px;
}